*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --content-primary: #fff;
  --content-secondary: #c7c9cc;
  --content-tertiary: #d9d9d9;
  --content-brand: #c58de7;
  --color-inverse: #030203;

  --bg-primary: #020202;
  --bg-secondary: #111012;
  --bg-tertiary: #24222e;
  --bg-brand: #c58de7;
  --bg-gray: #3d3d3d;

  --pink: #d586e0;
  --blue: #91a1fa;
  --green: #77c0af;
  --lime: #d1dc97;
  --red: #e9a9b3;

  --gradient-border: #77c0af 0%, #d1dc97 14.84%, #e9a9b3 32.15%, #d586e0 65.79%,
    #91a1fa 84.58%;
  --gradient-background: #d586e0 0%, #91a1fa 98.93%;
  --gradient-content: #c7c9cc 0%, #3d3d3d 100%;

  --ff-sora: "Sora", sans-serif;
  --ff-roboto-mono: "Roboto Mono", monospace;
  --ff-roboto-flex: "Roboto Flex", sans-serif;

  --display-lg: 900 4.5rem/1.3 var(--ff-sora);
  --display-md: 900 2.5rem/1.3 var(--ff-sora);
  --display-sm: 700 2rem/1.3 var(--ff-sora);

  --overline: 700 1rem/1.5 var(--ff-roboto-mono);
  --number-mono: 600 3rem/1.5 var(--ff-roboto-mono);

  --paragraph-lg: 500 1rem/1.5 var(--ff-roboto-flex);
  --paragraph-md: 500 0.875rem/1.5 var(--ff-roboto-flex);
  --paragraph-sm: 500 0.75rem/1.5 var(--ff-roboto-flex);
  --label-md: 700 1.25rem/1.5 var(--ff-roboto-flex);
  --label-sm: 700 1rem/1.5 var(--ff-roboto-flex);

  --max-width: 375px;
  --px-margin: 2.25rem;
}

body {
    background-color: var(--bg-primary);
    position: relative;
    overflow-x: hidden;
    justify-content: center;

}

#bg-shape {
  position: absolute;
  z-index: -2;
  background: linear-gradient(-180deg, rgba(0,0,0,.9) 22.66%, rgba(0,0,0,.54) 100%), url(../assets/Shapes.png);
  height: 100%;
  width: 200%;
  left: -50%;
  bottom: 0;
}

h1, h2, h3, label {
  text-transform: uppercase;
}

.container {
  max-width: min(var(--max-width)), 100% - 2 * var(--px-margin);
  margin-inline: auto;
}

.grid {
  display: grid;
}

.desktop-only {
  display: none;
}

@media (width >= 700px) {
  :root {
    --max-width: 80%;
  }
}

@media (950px <= width) {
  :root {
    --max-width: 80%;
    --px-margin: 4rem;
  }

  .desktop-only {
    display: block;
  }

  #layout {
    display: flex;
    gap: 4rem;
    margin-bottom: 6rem;
  }
}

@media (width >= 1200px) {
  :root {
    --max-width: 1280px;
    --px-margin: 6rem;
  }

  body {
    gap: 5.75rem;
    
    &#layout {
      gap: 6rem;
      margin-bottom: 10rem;
    }
  }
}